
<div class="container">
  <div class="search">
      <%= form_tag(@movies_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search movies", class:"input" %>
        <%= submit_tag "Search", class:"submit" %>
      <% end %>
  </div>
      <% if @movies.any? %>
        <div class="movie-list">
          <% @movies.each do |movie| %>
            <div>
              <%= movie.title %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No movies found.</p>
      <% end %>

</div>






<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('cinema.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
